h1 {
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
}

h2 {}

h3 {
    color: #d0aaff;
    font-size: 20px;
    margin: 0;
}

p {}

section {
    padding: 45px 0;
}

.main-image {
    width: 100%;
}